<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HLR Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="wrapper">
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/">HLR Service</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/requests">История запросов</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li><a class="btn btn-success" role="button" name="LogOut">Баланс: {{ user_b }}</a></li>
                <li><a href="/" class="btn btn-primary" role="button" name="LogOut">Пополнить</a></li>
                <li><a href="/logout" class="btn btn-primary" role="button" name="LogOut">Выйти</a></li>
            </ul>
        </nav>
    </div>
    <div id=result_table>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Телефон</th>
                <th scope="col">HLR код</th>
                <th scope="col">Результат</th>
                <th scope="col"><a href="/download/{{ r_id }}">💾</a></th>
                <th scope="col"><a href=”/request/{{ r_id }}”>Обновить результат</a></th>

            </tr>
            </thead>
            <tbody>
            {% for res in result %}
                <tr>
                    <td>{{ res.phone }}</td>
                    <td>{{ res.hlr_status }}</td>
                    <td>{{ res.hlr_status_code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>